# Exclude folders
.github/
assets/
src/

# Exclude specific files
output.json
sample.tpl
tsconfig.json
tsup.config.ts

# Include the dist folder
!dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Ignore miscellaneous
npm-debug.log*
package-lock.json
